.login-btn-c {
    margin-right: 8em !important;
}

.github-icon-c {
    color: rgba(0,0,0) !important;
}

.nav-links-c {
    margin : auto;
}

.username-c {
    color: #007bff !important;
    margin-right: 5em;
}